.footer {
    background-image: linear-gradient(#f5fcfe, #c1dee7);
    height: 56px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.footer div {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-image: linear-gradient(#00171e, #003d4f);
    }
}