.header {
    background-image: linear-gradient(#f0fcff, #c9f3ff);
    height: 6svh;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.header div {
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-right-width: 2px;
    padding: 2px;
}